.auth {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin-top: 15px;

    a {
      color: var(--bg-accent);
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__form {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
  }

  &__group {
    margin-bottom: 5px;
  }

  &__input {
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 12px 40px 12px 12px;
    font-size: 1.7rem;
    outline: none;
    border: 1px solid transparent;
    background-color: var(--bg-input);
    transition: all 200ms ease-in-out;

    &:hover {
      background-color: var(--bg-input-hover);
    }

    &:focus {
      background-color: var(--bg-input);
      border: 1px solid var(--bg-accent);
    }
  }

  &__btn {
    width: 100%;
    background-color: var(--bg-accent);
    border-radius: 20px;
    color: var(--bg);
    padding: 10px 20px;
    margin-top: 20px;
    transition: all 200ms ease-in-out;
    font-size: 1.7rem;

    &:hover {
      background-color: var(--bg-accent-hover);
    }
  }

  &__error {
    color: red;
    display: block;
    padding-left: 5px;
    margin-top: 10px;
  }
}
